<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- order export profile service -->
    <virtualType name="SoftCommerce\PlentyOrderProfile\Model\OrderExportService\Generator\OrderItems" type="SoftCommerce\Profile\Model\ServiceAbstract\Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="amasty_giftcard" xsi:type="array">
                    <item name="class" xsi:type="object">SoftCommerce\PlentyAmastyGiftCard\Model\OrderExportService\ItemGenerator\GiftCard</item>
                    <item name="sortOrder" xsi:type="number">60</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <!-- item export profile service -->
    <type name="SoftCommerce\PlentyItemProfile\Model\ItemExportService\Generator">
        <arguments>
            <argument name="typeGenerators" xsi:type="array">
                <item name="amgiftcard" xsi:type="object">SoftCommerce\PlentyAmastyGiftCard\Model\ItemExportService\TypeGenerator\AmGiftCard</item>
            </argument>
        </arguments>
    </type>
    <!-- item import profile service -->
    <type name="SoftCommerce\PlentyItemProfile\Model\ItemImportService">
        <arguments>
            <argument name="typeProcessors" xsi:type="array">
                <item name="amgiftcard" xsi:type="object">SoftCommerce\PlentyAmastyGiftCard\Model\ItemImportService\TypeProcessor\AmGiftCard</item>
            </argument>
        </arguments>
    </type>
</config>
